@media (max-width: 727px) {
	.container-overlay {
		position: fixed;
		overflow: auto;
		
		.content {
			padding: 60px 0px;
			.titulo {
				font-size: 22px;
			}

			.objetivo {
				font-size: 16px;
				margin-top: 30px;
			}

			.caracteristicas {
				font-size: 14px;
				margin-top: 30px;
			}

			.contacto {
				font-size: 12px;
				margin-top: 45px;
			}
		}
	}

	.map-container {
		.legends {
			bottom: 35px;
		}
	}
}